behave
boto3
python-dotenv
PyYAML
requests
allure-behave
selenium
beautifulsoup4
openpyxl
behave-html-formatter
pillow
imagehash
sounddevice
SpeechRecognition
gtts
pyglet



# To install all above dependencies pleas run this command -->> pip install -r requirements.txt